body {
    background-color: $black;
    height: 100hv;
}

.jhonata {
    .container {

        .text-area {
            margin-top: 10rem;
            .info2 {
                display: none;
            }
            
            h1 {
                margin-top: 0.8rem;
                margin-bottom: 1.6rem;
            }
            p, span {
                font-size: 1.8rem;
                line-height: 150%;
                color: $white;
            }
            span {
                display: inline-block;
                margin-top: 5rem;
                opacity: 0.8;
            }
            img {
                margin: 0 0.8rem;
                animation: pulse 0.8s infinite;
            }
        }
        .languages {
            display: flex;
            opacity: 0;
            justify-content: flex-start;
            transition: all 0.8s;
            img {
                width: 100%;
                max-width: 4.8rem;
                margin-top: 3.2rem;

                &:not(:first-child) {
                    margin-left: 3.2rem;
                }
            }
            &.active {
                opacity: 1;
            }
        }
        
    }
    @include responsive(480px) {
        .container {
            .text-area {
                h1 {
                    font-size: 5rem;
                }
                h2 {
                    font-size: 3rem;
                }
                p {
                    font-size: 1.6rem;
                }
                margin-top: 1.2rem;
                .info {
                    display: none;
                }
                .info2 {
                    display: block;
                }
            }
            .languages {
                opacity: 1;
                max-width: 3.0rem;
            }
        }
    }
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-bottom: 3rem;
    .social {
        ul {
            display: flex;
            justify-content: space-around;
            align-items: center;
            li {
                transition: all 0.3s;
                &:hover {
                    transform: scale(1.5);
                }
            }
        }

    }
    @include responsive(480px) {
        margin-bottom: 1rem;
    }
}



@keyframes pulse {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}